@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

.chat-parent-container {
  max-width: 1200px;
  margin: 80px;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}

.chat-messages {
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  background: #f9f9f9;
  flex-grow: 1;
  margin-bottom: 10px;
  margin-right: -48px;
  height: 500px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: auto;
}

.message.user {
  display: flex;
  flex-direction: row-reverse;
}

.message.bot {
  align-self: flex-start;
  display: inline-block;
  border: solid #3d63d2;
}

.chat-input {
  display: flex;
  gap: 10px;
  margin-right: -48px;
  margin-left: 10px;
  align-items: center;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.chat-input button:hover {
  background-color: #49757c4c;
}

.chat-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.chat-options button {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a4bad0;
  color: white;
  cursor: pointer;
}

.chat-options button:hover {
  background-color: #0eceecb4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3d63d2;
  color: white;
  padding: 16px 24px;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.icon {
  margin-right: 3px;
}
.logo {
  display: flex;
  font-family: "Modern No. 20";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.user-info {
  margin-bottom: -13px;
  font-size: 16px;
  display: flex;
}
.user-icon {
  display: flex;
  margin-left: 10px;
  margin-top: -4px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message i {
  margin-right: 10px;
  margin-left: 10px;
}

.file-message {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.file-message i {
  margin-right: 5px;
}

.file-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload i {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.file-upload:hover i {
  color: #2538de;
}
